.list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: #fff;
    margin-top: 80px;
    font-family: 'Oswald', sans-serif;
    max-width: 100%;
}

.item {
    background: white;
    color: #fff;
}
