.product {
  display: flex;
  flex-direction: column;
  width: 175px;
  text-align: center;
  background: #fff;
  color: #000;
  transition: transform 0.3s;
  margin-top: 20px;
  font-family: 'Oswald', sans-serif;
}

.product:hover {
  transform: translateY(-5px);
}

.product-image {
  width: 160px;
  height: 200px;
  object-fit: cover;
  border-radius: 10px 10px 10px 0;
  transform: scale(1.0);
  transition: transform 0.3s;
  object-fit: contain;
  margin-left: 8px;
}

.price {
  font-size: 18px;
  margin-top: auto;
  color: #000;
}

.size-buttons {
  margin-top: 10px;
}

.size-button {
  background-color: white;
  color: black;
  margin: 2px;
  padding: 5px 10px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.size-button.selected {
  background-color: black;
  color: white;
}

.size-button.in-cart {
  text-decoration: line-through;
  cursor: not-allowed;
  background-color: #ccc;
  color: #666;
}

.size-button.in-cart.selected {
  text-decoration: none;
}

.add-btn,
.remove-btn {
  margin: 10px auto;
  border-radius: 0 0 10px 10px;
  background-color: black;
  width: 90px;
  display: block;
}


.product:nth-child(even) {
  margin-right: 0;
}

.size-button.disabled-size {
  display: none;
}

.saleprice {
  color: red;
}

.title {
  font-weight: bold;
  color: #444;
}