/* ProductModal.css */

.product-modal {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0%;
  left: 0%;
  width: 340px;
  height: 500px;
  z-index: 1300;
  flex: 1;
  max-width: 400px;
  max-height: 2432px;
  font-family: 'Oswald', sans-serif;
}

.product-modal.open {
  opacity: 1;
  pointer-events: auto;
}

.product-image {
  max-width: 100%;
  max-height: 100%;
  width: 90%;
  height: 70%;
}

.close {
  background-color: rgb(20, 19, 19);
  color: #fff;
  border: none;
  border-radius: 8px;
  padding: 3px;
  cursor: pointer;
  transition: background-color 0.3s;
  height: 20px;
  font-weight: bold;
}

.close:hover {
  background-color: #cc3a1c;
}


  .description {
    max-height: 40px;
    overflow-y: auto;
}

.text_modal {
  font-size: 15px;
  text-align: center;
}